{% extends "layout.html" %}

{% block content %}
<div class="container" style="text-align: center; margin-top: 50px;">
  <h2 class="logo" style="color: #4e73df;">Admin Portal</h2>
  <ul class="nav nav-tabs" id="adminTabs">
    <li class="nav-item">
      <a class="nav-link active" id="users-tab" href="#" onclick="showUsers()">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="events-tab" href="#" onclick="showEvents()">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="former-users-tab" href="#" onclick="showFormerUsers()">Former Users</a>
    </li>
  </ul>
  <div id="tab-content" style="margin-top: 30px;"></div>
</div>
<script src="{{ url_for('static', filename='js/users.js') }}"></script>
<script src="{{ url_for('static', filename='js/formerUsers.js') }}"></script>
<script src="{{ url_for('static', filename='js/events.js') }}"></script>
{% endblock %}